@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-size: 0.5em;
}

.words {
  text-decoration: line-through;
  text-decoration-color: currentcolor;
  text-decoration-color: red;
  display: inline;
}

.hero {
  margin: 150px auto 200px auto;
  position: relative;
}

.title {
  font-size: 94px;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-left: 5rem;
  display: inline-block;
}

.chat-title {
  font-size: 28px;
  font-weight: 600;
}

.chat-title::before {
  content: '\274C';
}

.chat-stack {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-title {
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


a {
  color: #f00;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

body {

  line-height: 1;
  font-family: lato, ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  background-color: #fefefe;
  color: #04143a;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.sections {
  vertical-align: top;
  display: inline-block;
  min-height: 50px;
}

.chat-title2::before {
  content: '\2714\FE0F';
}

.sectionright {
  width: 59%;
  
}

.sectionleft {
  width: 40%;
}

.border-top-underscore {
  border-top: 2px solid #cacaca;
  padding: 30px;
}

.finaltext::before {
  content: '\1F389';
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
}